<!-- account/templates/home.html -->

{% extends "base.html" %}

{% block page %}
    <div class="container mt-5 mb-5">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-5">

                <!-- Upload Files -->
                <div class="card p-2">
                    <h2 class="px-3 py-2"> Upload CSV or XLSX File Here :</h2>

                    <!-- Error Msg -->
                    {% if error_msg %}
                        <div class="text-danger" style="color: red !important;"> {{ error_msg }} </div>
                    {% endif %}

                    <!-- Upload -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-9">
                                <div class="card px-3 p-2">
                                    <input type="file" name="csv_file">
                                </div>
                            </div>

                            <div class="col-3">
                                <button type="submit" class="btn btn-success w-100">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>

                <!-- Dispaly All Acounts -->
                <div class="card p-2">
                    <h2 class="px-3 py-2"> Select Account :</h2>

                    <!-- Search -->
                    <form class="form-inline my-2 my-lg-0">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-9">
                                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-success w-100">Search</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    
                    <!-- All -->
                    {% for ac in accounts %}
                        <a style="text-decoration: none;" href="{% url 'profile' ac.id %}">
                            <div class="card px-3 p-2" id="send">
                                <h4> {{ ac.name }} </h4>
                            </div>
                        </a>
                        <br>
                    {% endfor %}
                </div>
                <br>

            </div>
        </div>
    </div>
    
{% endblock page %}